@keyframes animation-down {
   from {
      opacity: 0;
      transform: translateY(-100%);
   }

   to {
      opacity: 1;
      transform: translateY(0px);
   }
}

@keyframes to-right{
   from{
      opacity: 0;
      transform: translateX(-100%);
   }
   to{
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes appear{
   from {
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}
.animate-up {
   animation-name: animation-up;
   animation-duration: 1000ms;
   animation-fill-mode: backwards;
}

.to-right{
   animation-name: to-right;
   animation-duration: 1000ms;
   animation-fill-mode: backwards;
}


.animate-appear{
   animation-name: appear;
   animation-duration: 1000ms;
   animation-fill-mode: backwards;
}
