<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Happy - Localizações</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   
   <link rel="icon" href="/images/logo-icon.png">

   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/animation.css">
   <link rel="stylesheet" href="/css/map.css">
   <link rel="stylesheet" href="/css/page-orphanages.css">


   <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap" rel="stylesheet">

</head>

<body>
   <div id="page-orphanages">
      <aside class="to-right">

         <header class="to-right">
            <img src="/images/map-marker.svg" alt="Logomarca Happy" class="to-right">
            <h2 class="to-right">Escolha <br>um orfanato no mapa</h2>
            <p class="to-right"> Muitas crianças estão esperando a sua visita :)</p>
         </header>

         <footer class="to-right">
            <strong>Pará</strong>
            <p>Belém</p>
         </footer>
      </aside>

      <div id="mapid" class="animate-appear"></div>

      <div class="orphanages-span">
         {{#each orphanages}}
            <span hidden
            data-id="{{this.id}}"
            data-name="{{this.name}}"
            data-lat="{{this.latlng.lat}}"
            data-lng="{{this.latlng.lng}}"
            ></span>
         {{/each}}
      </div>

      <a href="/create-orphanage" class="createOrphanage animate-up">
         <img src="/images/plus.svg" alt="Criar Orfanato">
      </a>
      
   </div>

   <script src="/js/page-orphanages.js"></script>

</body>

</html>